body {
  margin: 0;
  padding: 0;
  background: #ECF0F1;
}

.loadingBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6, 0.6);
  color: #1ABC9C;
}


.loadingGif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6, 0.6);
}

/* nav --start */
.placeHolder {
  height: 3.5rem;
  width: '100%';
}
.navContainer {
  display: flex;
  height: 3.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 5px rgba(6,6,6,0.4);
  background-color: #fff;
  z-index: 9;
}
@media screen and (max-width: 900px) {
  .icon {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .home {
    min-width: 320px;
  }
  .navContainer {
    box-shadow: none;
  }
}
.navItem {
  line-height: 3.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}
.link {
  text-decoration: none;
  font-family: 'Microsoft Yahei';
  color: #666;
}
.img {
  height: 1.2rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}
.text {
  margin-left: .5rem;
  vertical-align: middle;
}
.active {
  color: #1ABC9C;
}
/* nav --end */

/* dropdown --start*/
.dropdown {
  z-index: 9999999;
}
dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
  height: auto;
}
dropdown label {
  display: block;
  height: 3.5rem;
}
dropdown .title{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1rem;
}
dropdown ul li {
  box-sizing: border-box;
  display: block;
  background: #ECF0F1;
}

dropdown label:hover, dropdown ul li:hover {
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}

dropdown label {
  box-sizing: border-box;
  height: 3.5rem;
  color: #1ABC9C;
  position: relative;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(6,6,6,0.4);
}
.label {
  display: block;
}
.icon {
  vertical-align: middle;
  line-height: 3.5rem;
}
dropdown input {
  display: none;
}

dropdown input ~ ul {
  margin: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
  box-shadow: 0 1px 5px rgba(6,6,6,0.4);
  height: .2rem;
}


.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
/* dropdown --end*/

/* home --start */
.home.article-list {
  box-sizing: border-box;
  padding-left: .6rem;
  padding-right: .6rem;
  min-height: 900px;
}
@media screen and (min-width: 900px) {
  .home {
    width: 900px;
    margin: 0 auto;
  }
  .navContainer {
    padding: 0 1rem;
  }
  .home.article {
    /*padding-left: 2rem;
    padding-right: 2rem;*/
  }
}

.list {
  margin: 0;
  padding: 0;
}
.listItem {
  height: 5rem;
  list-style: none;
  /*border-bottom: 1px solid #BBB8AA;*/
}
.article-list .link {
  text-decoration: none;
}
.article-list .title {
  color: #1ABC9C;
  margin: .4rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.listItem.article {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 5px rgba(6,6,6,0.4);
  padding: 1rem;
  margin-top: .6rem;
}

/*home --end */

/*post --start*/
.home.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  box-sizing: border-box;
  border-bottom-left-radius: .4rem;   
  border-bottom-right-radius: .4rem; 
  box-shadow: 0 1px 5px rgba(6,6,6,0.4);  
}

.titleLabel {
  display: inline-block;
  color: #1ABC9C;
  margin: .5rem 0 0;
}
.titleInput {
  display: inline-block;
  border: 1px solid #1ABC9C;
  border-radius: .1rem;
  width: 100%;
  margin: .2rem 0 1.5rem;
  padding: 0.2rem 0.1rem;
}
.titleInput:focus {
  border-color: #D1CEBC;
}
.editor {
  border: 1px solid #1ABC9C;
  border-radius: .2rem;
  width: 90%;
  height: 25rem;
  overflow: hidden;
}
.ueditor {
  border: 1px solid #1ABC9C;
  border-radius: .2rem;
}
.toolbar {
  border-bottom: 1px solid #D1CEBC;
}
.submit {
  padding: .4rem 2rem;
  margin: 2rem 0;
  color: #fff;
  background-color: #1ABC9C;
  border: none;
  border-radius: .1rem;
  cursor: pointer;
  align-self: flex-end;
}
/*post --end*/

/*article --start*/
/*.art-cont {
  overflow: 'hidden'!important;
  background: #fff;
}*/

/*article --end*/

/*comments --start*/
.comment-editor {
  background: #ECF0F1;
  height: 5rem;
  margin-top: .6rem;
  border-radius: .4rem;
  padding: 1rem;
  border: 1px solid #D1CEBC;
  cursor: text;
}
.comment-editor:focus {
  border-radius: .4rem;
}
.comment-form {
  display: flex;
  flex-direction: column;
}
.submit.comment {
  margin: 1rem 0 1rem;
}
/*comments --end*/

/*profile --start*/
.home.profile {
  box-sizing: border-box; 
  background: #fff;
  /*min-height: 50rem;*/
  padding: 2rem;
}
.login-reg {
  text-align: center;
}
/*profile --end*/

/*login --start*/
.login-form {
  width: 100%;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-form legend {
  color: #1ABC9C;
  margin: 1rem;
}
.submit.login {
  margin: .4rem 0;
  align-self: center;
}
.login-form .msg {
  height: 1.5rem;
}
.login-form .input {
  width: 270px;
  padding: .4rem;
  border: 1px solid #1ABC9C;
  border-radius: .2rem;
}
.or-box {
  position: relative;
}
.or-box span {
  padding: .4rem;
  color: #1ABC9C;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  background: #fff;
  font-size: 18px;
}
.string {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20rem;
  height: 1px;
  background: #1ABC9C;
}

/*login --end*/

/*footer --start*/
footer {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #D1CEBC;
  text-align: center;
}
footer a {
  font-size: 10px;
  color: #999;
  text-decoration: none;
}

/*footer --end*/