body {
  margin: 0;
  padding: 0;
}

.loadingBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6, 0.6);
  color: #1ABC9C;
}


.loadingGif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6, 0.6);
}

/* nav --start */
.placeHolder {
  height: 3rem;
  width: '100%';
}
.navContainer {
  display: flex;
  height: 3rem;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 15px #dee1e2;
  background-color: #fff;
  z-index: 9;
}

.menuBtn {
  cursor: pointer;
}
.hide {
  display: none;
}
.show {
  position: relative;
  height: 6rem;
  top: 3.2rem;
  opacity: 1;
  color: #f00;
  background-color: #666;
  transition: all 2s ease-in-out 0.1s;
}
.navItem {
  line-height: 3rem;
  margin-left: 3%;
  margin-right: 3%;
}
.link {
  text-decoration: none;
  font-family: 'Microsoft Yahei';
  color: #666;
}
.img {
  height: 1.2rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}
.text {
  margin-left: 1rem;
  vertical-align: middle;
}
.active {
  color: #1ABC9C;
}
/* nav --end */

/* dropdown --start*/
.dropdown {
  z-index: 9999999;
}
dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}
dropdown {
}
dropdown label {
  display: block;
  height: 3rem;
}
dropdown .title{
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1rem;
}
dropdown ul li {
  box-sizing: border-box;
  display: block;
  width: 750px;
  background: #ECF0F1;
}

dropdown label:hover, dropdown ul li:hover {
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}

dropdown label {
  box-sizing: border-box;
  height: 3rem;
  color: #1ABC9C;
  position: relative;
  z-index: 2;
}
.label {
  display: block;
}
.icon {
  padding-left: 1rem;
  vertical-align: middle;
  line-height: 3rem;
}
dropdown input {
  display: none;
}

dropdown input ~ ul {
  margin: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
  box-shadow: 0 1px 5px #dee1e2;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
/* dropdown --end*/

/* home --start */
.home {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list {
  margin: 0;
  padding: 0;
}
.listItem {
  height: 5rem;
  list-style: none;
  border-bottom: 1px solid #BBB8AA;
}
/*home --end */

/*post --start*/

.titleLabel {
  display: inline-block;
  color: #1ABC9C;
  margin: 1.5rem 0 0;
}
.titleInput {
  display: inline-block;
  border: 1px solid #1ABC9C;
  border-radius: .1rem;
  width: 100%;
  margin: .2rem 0 1.5rem;
  padding: 0.2rem 0.1rem;
}
.titleInput:focus {
  border-color: #D1CEBC;
}
.editor {
  border: 1px solid #1ABC9C;
  border-radius: .2rem;
  width: 90%;
  height: 25rem;
  overflow: hidden;
}
.ueditor {
  border: 1px solid #1ABC9C;
  border-radius: .2rem;
}
.toolbar {
  border-bottom: 1px solid #D1CEBC;
}
.submit {
  padding: .2rem 2rem;
  margin: 2rem 0;
  color: #fff;
  background-color: #1ABC9C;
  border: none;
  border-radius: .1rem;
  cursor: pointer;
}
/*post --end*/